
@{
    Layout = "_Layout";
}
<style>
    .jumbotron {
        background-color: lemonchiffon;
    }
    .name{
        background-color:aqua;
        text-align:center;
        border: white solid 5px;
        height: 150px;
        
    }
   
</style>



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" 
                    data-target="#LiquidBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Liquid Chicken</a>
        </div>
        <div class="collapse navbar-collapse" id="LiquidBar">
            <ul class="nav navbar-nav">
                <li class="active">One</li>
                <li>two</li>
                <li>three</li>
            </ul>
        </div>
        
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Awesome Jumbotron</h1>
    <p>How fun is this</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 name">
            <p>Scooby doo</p>
        </div>
        <div class="col-sm-3 name">
            <p>Morpheus</p>
        </div>
        <div class="col-sm-3 name">
            <p>Jim Bob</p>
        </div>
        <div class="col-sm-3 name">
            <p>Aquaman</p>
        </div>
    </div>
</div>





